body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.headerStyle {
    background-color: #2ca9c9;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 80px 100px 100px 100px;
    justify-content: space-between;
    font-size: xx-large;
}

.logo {
    height: 140px;
}

span {
    color: white
}

.searchInput {
    width: 168px;
    height: 32px;
    border-radius: 8px;
    border: 1px solid white;
    outline: none;
    background-color: #2ca9c9;
    padding-left: 20px;
    color: white;
}

.searchForm {
    width: 168px;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-bottom: 70px;
}

.searchIcon {
    width: 20px;
    position: absolute;
    padding-right: 10px;
}

.hrStyle {
    border: 1px solid white;
    height: 25px;
    margin: 0px;
}

.navBarHeader {
    display: flex;
    gap: 30px;
    align-items: center;
    margin-bottom: 70px;
}

p {
    font-size: 45px;
    margin: 0px;
    text-align: center;
}

h1 {
    margin: 0px;
    font-size: 62px;
    text-align: center;
}

.bodyStyle {
    padding: 10px 100px 20px 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #2ca9c9;
    margin-top: 20px;
}

.bodyHrStyle{
    width: 80%;
    margin-top: 50px;
}

#progress {
    position: relative;
    margin-bottom: 30px;   
  }

#progressNum {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 200px;
}

#progressNum::before {
    content: "";
    background-color: darkgray;
    position: absolute;
    top: 45%;
    left: 30px;
    height: 15px;
    width: 90%;
    z-index: -1;
  }

  input.invalid {
    background-color: #ffdddd;
  }

  #progressNum .step {
    border: 15px solid darkgray;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-size: xx-large;   
    color: #2ca9c9;
    position: relative;
    z-index: 1;
    line-height: 25px;
  }

  #progressNum .step.active {
    border: 15px solid darkgray;
    background-color: #2ca9c9;
    color: #fff;
  }

  .bodyDivStyle {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

.sectionCard{
    background-color: lightgray;
    padding: 20px;
    border-radius: 8px;
    color: #2ca9c9;
    margin-bottom: 40px;
    display: none;
}

#aboutYou {
    font-weight: normal;
    display: flex;
    font-size: 40px;
}

.bodyForm {
    font-size: 32px;
    font-weight: normal;
    padding: 50px;
}

#firstName {
    border-radius: 8px;
    width: 300px;
    height: 60px;
    border: none;
    display: flex;
    flex-direction: column;
}

#lastName {
    border-radius: 8px;
    width: 300px;
    height: 60px;
    border: none;
    display: flex;
    flex-direction: column;
}

#emailAddress {
    width: 100%;
    height: 60px;
    border-radius: 8px;
    border: none;
}

#mobileNumber {
    width: 100%;
    height: 60px;
    border-radius: 8px;
    border: none;
}

.firstAndLastName {
    display: flex;
    gap: 40px;
    margin-bottom: 30px;
    justify-content: space-between;
}

.emailAndMobile{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

label {
    font-weight: normal;
    font-size: x-large;
    margin-bottom: 4px;
    color: #2ca9c9;
}

.yourDonation{
    font-size: 32px;
    font-weight: normal;
    padding: 50px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 8px;
}

#tab1 {
    color: black;
    background-color: #2ca9c9;
    width: 100%;
    height: 50px;
    display: flex;
    align-self: center;
    justify-content: center;
    color: white;
    border-radius: 8px 8px 0px 0px ;
}
#tab2 {
    color: black;
    background-color: white;
    width: 100%;
    display: flex;
    align-self: center;
    justify-content: center;
    color: #2ca9c9;
    border-radius: 8px 8px 0px 0px ;
}

.headerForCard {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

#inputShortStyle {
    width: 40%;
    height: 60px;
    border-radius: 8px;
    border: none;
    background-color: lightgray;
}

#inputLongStyle {
    width: 100%;
    height: 60px;
    border-radius: 8px;
    border: none;
    background-color: lightgray;
}

.hide {
    opacity: 0;
    top: calc(50% + 8em);
  }

#nextButton {
    background-color: #2ca9c9;
    border: none;
    border-radius: 8px;
    width: 250px;
    height: 80px;
    color: white;
    font-size: xx-large;
    float: right;
    margin-bottom: 40px;
}

#nextButton:hover {
    cursor: pointer;
    background-color: #51b6cf;
}

#prevButton {
    background-color: #2ca9c9;
    border: none;
    border-radius: 8px;
    width: 250px;
    height: 80px;
    color: white;
    font-size: xx-large;
    background-color: #51b6cf;
    float: left;
    margin-bottom: 40px;
}

#prevButton:hover {
    cursor: pointer;
}

  footer {
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
    font-size: xx-large;
    color: white;
    gap: 25px;
}

.mediaLinkStyle{
    display: flex;
    justify-content: center;
    gap: 50px;
}

.mediaIcon{
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    font-size: 0px;
}

.sponsorStyle{
    display: flex;
    gap: 20px;
    align-items: center;
}

.copyrightStyle{
    font-size: x-large;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#styleForTextArea {
    width: 100%;
    height: 200px;
    border-radius: 8px;
    border: none;
}

