body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.headerStyle {
    background-color: #2ca9c9;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 80px 100px 100px 100px;
    justify-content: space-between;
    font-size: xx-large;
}

.logo {
    height: 140px;
}

span {
    color: white
}

.searchInput {
    width: 168px;
    height: 32px;
    border-radius: 8px;
    border: 1px solid white;
    outline: none;
    background-color: #2ca9c9;
    padding-left: 20px;
    color: white;
}

.searchForm {
    width: 168px;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-bottom: 70px;
}

.searchIcon {
    width: 20px;
    position: absolute;
    padding-right: 10px;
}

.hrStyle {
    border: 1px solid white;
    height: 25px;
    margin: 0px;
}

.navBarHeader {
    display: flex;
    gap: 30px;
    align-items: center;
    margin-bottom: 70px;
}

p {
    font-size: 45px;
    margin: 0px;
    text-align: center;
}

h1 {
    margin: 0px;
    font-size: 62px;
    text-align: center;
}

.bodyStyle {
    padding: 10px 100px 20px 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #2ca9c9;
    margin-top: 20px;
}

.bodyHrStyle{
    width: 80%;
    margin-top: 50px;
}

#progress {
    position: relative;
    margin-bottom: 30px;   
  }

#progressBar {
    position: absolute;
    background: #2ca9c9;
    height: 15px;
    width: 0%;
    top: 45%;
  }

#progressNum {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 200px;
}

#progressNum::before {
    content: "";
    background-color: darkgray;
    position: absolute;
    top: 45%;
    height: 15px;
    width: 100%;
    z-index: -1;
  }

  #progressNum .step {
    border: 15px solid darkgray;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-size: xx-large;   
    color: #2ca9c9;
    position: relative;
    z-index: 1;
  }

  #progressNum .step.active {
    border: 15px solid darkgray;
    background-color: #2ca9c9;
    color: #fff;
  }

  .bodyDivStyle {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

.sectionCard{
    background-color: lightgray;
    padding: 10px;
    border-radius: 8px;
    color: #2ca9c9;
    margin-bottom: 20px;
}

  footer {
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
    font-size: xx-large;
    color: white;
    gap: 25px;
}

.mediaLinkStyle{
    display: flex;
    justify-content: center;
    gap: 50px;
}

.mediaIcon{
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    font-size: 0px;
}

.sponsorStyle{
    display: flex;
    gap: 20px;
    align-items: center;
}

.copyrightStyle{
    font-size: x-large;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
